$couleur-bleue: #161773;
$couleur-rouge-foncee: #711110;
$couleur-rouge: #C40606;
$couleur-rouge-pale: #DE524D;
$couleur-grise: #999999;
$couleur-bleu-footer: #9494f8;

$bg-degrade-haut: #F4F5F5;
$bg-degrade-milieu: #F1F4F6;
$bg-degrade-bas: #dfecf6;